In [47]:
#python program for project 1
# import module
from tabulate import tabulate

#assignment of data

Table_Data = [
    ["Evelyn","17","5'5","83","Chinedu","19","5'7","74"],
    ["Jessica","16","6'0","85","Liam","16","5'9","87"],
    ["Somto","17","5'4","70","Wale","18","5'8","76"],
    ["Edith","18","5'9","60","Gbenge","17","6'7","68"],
    ["Liza","16","5'6","76","Abiola","20","5'9","75"],
    ["Madonna","18","5'5","66","Kole","19","5'5","78"],
    ["Waje","17","6'1","87","Kunle","16","6'1","87"],
    ["Tola","20","6'0","95","George","18","5'4","98"],
    ["Aisha","19","5'7","50","Thomas","17","5'8","54"],
    ["Latifa ","17","5'5","49","Wesley","19","5'7","60"]
]

#Create headers
headings =["Girls'Names","Girls'Ages","Girls'Heights","Girls'Scores","Boys'Names","Boys'Ages","Boys'Heights","Boys'Scores"]

#Display Table

print(tabulate(Table_Data,headers=headings,tablefmt = 'prettytable'))

Girls'Names      Girls'Ages  Girls'Heights      Girls'Scores  Boys'Names      Boys'Ages  Boys'Heights      Boys'Scores
-------------  ------------  ---------------  --------------  ------------  -----------  --------------  -------------
Evelyn                   17  5'5                          83  Chinedu                19  5'7                        74
Jessica                  16  6'0                          85  Liam                   16  5'9                        87
Somto                    17  5'4                          70  Wale                   18  5'8                        76
Edith                    18  5'9                          60  Gbenge                 17  6'7                        68
Liza                     16  5'6                          76  Abiola                 20  5'9                        75
Madonna                  18  5'5                          66  Kole                   19  5'5                        78
Waje                     17  6'1                          87  Kunle                  16  6'1                        87
Tola                     20  6'0                          95  George                 18  5'4                        98
Aisha                    19  5'7                          50  Thomas                 17  5'8                        54
Latifa                   17  5'5                          49  Wesley                 19  5'7                        60

In [46]:
#python program for project 2
name = input ("Name: ")
staff_dept = input("Staff Department: ")
experience = input("Years of Experience: ")
age = input("Age: ")

e = int(experience)
a = int(age)

if a >= 55  & e > 25 :
    print("Your Annual Tax Revenue(ATR) is N5,600,000.00")

if e > 20 & a >= 45:
    print("Your Annual Tax Revenue(ATR) is N4,480,000.00")

if e > 10 & a >= 35:
    print("Your Annual Tax Revenue(ATR) is N1,500,000.00")

if e < 10 & a < 35:
    print("Your Annual Tax Revenue(ATR) is N550,000.00")

Name:  okeke
Staff Department:  cooking
Years of Experience:  50
Age:  100

Your Annual Tax Revenue(ATR) is N5,600,000.00