In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002260F1CF950>

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [6]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="mydatabase"
)

In [14]:
import mysql.connector

mydb = mysql.connector.connect(
    host ="localhost",
    user ="root",
    passwd ="",
    database = "mydatabase",
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
    host ="localhost",
    user ="root",
    passwd ="",
    database = "mydatabase",
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES ")

for x in mycursor:
    print(x)

('customers',)

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
    host ="localhost",
    user ="root",
    passwd ="",
    database = "mydatabase",
)

mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE investors (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255) ,shares VARCHAR(200))")

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
    host ="localhost",
    user ="root",
    passwd ="",
    database = "mydatabase",
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES ")

for x in mycursor:
    print(x)

('customers',)
('investors',)

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
    host ="localhost",
    user ="root",
    passwd ="",
    database = "mydatabase",
)

mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE customers ADD COLUMN age INT")

In [10]:
import mysql.connector

mydb = mysql.connector.connect(
    host ="localhost",
    user ="root",
    passwd ="",
    database = "mydatabase",
)

mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE investors ADD COLUMN company CHAR(200)")

In [11]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="mydatabase"
)
mycursor = mydb.cursor()
sql = "INSERT INTO customers (name, address,age) VALUES (%s, %s,%s)"
val = [
    ("Lily", "California",12),
    ("David", "San Francisco",32),
    ("Micheal", "Las Vegas",24),
    ("Sarah", "New York",45)
]
mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "record(s) inserted.")

4 record(s) inserted.

In [12]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address,age) VALUES (%s, %s,%s)"
val = ("Michelle", "Blue Village",28)
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 5

In [13]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Lily', 'California', 12)
(2, 'David', 'San Francisco', 32)
(3, 'Micheal', 'Las Vegas', 24)
(4, 'Sarah', 'New York', 45)
(5, 'Michelle', 'Blue Village', 28)

In [14]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT name, address FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Lily', 'California')
('David', 'San Francisco')
('Micheal', 'Las Vegas')
('Sarah', 'New York')
('Michelle', 'Blue Village')

In [15]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchone()

for x in myresult:
  print(x)

1
Lily
California
12

In [17]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT name, address FROM customers")

myresult = mycursor.fetchone()

for x in myresult:
    print(x)

Lily
California

In [20]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address ='New york'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(4, 'Sarah', 'New York', 45)

In [21]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address,age) VALUES (%s, %s,%s)"
val = [("Michel", "highway",28,),
    ( "bella","road way", 15),
     ("ella","line way",21)]


mycursor.executemany(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 6

In [22]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",  
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(6, 'Michel', 'highway', 28)
(7, 'bella', 'road way', 15)
(8, 'ella', 'line way', 21)

In [23]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'Lily', 'California', 12)
(2, 'David', 'San Francisco', 32)
(3, 'Micheal', 'Las Vegas', 24)
(4, 'Sarah', 'New York', 45)
(5, 'Michelle', 'Blue Village', 28)

In [24]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="mydatabase"
)
mycursor = mydb.cursor()
sql = "SELECT * FROM customers WHERE address = %s"
adr = ("California", )
mycursor.execute(sql, adr)
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(1, 'Lily', 'California', 12)

In [40]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="mydatabase"
)
mycursor = mydb.cursor()
sql = "SELECT * FROM customers  ORDER by name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(4, 'Sarah', 'New York', 45)
(5, 'Michelle', 'Blue Village', 28)
(6, 'Michel', 'highway', 28)
(3, 'Micheal', 'Las Vegas', 24)
(1, 'Lily', 'California', 12)
(8, 'ella', 'line way', 21)
(2, 'David', 'San Francisco', 32)
(7, 'bella', 'road way', 15)

In [55]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001E4CB460890>

In [66]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE contactbook")

In [2]:
from tkinter import *
from tkinter import simpledialog
import mysql.connector

# Connect to MySQL
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="contactbook"
)

# Ensure the table exists
mycursor = mydb.cursor()
mycursor.execute("""
    CREATE TABLE IF NOT EXISTS people (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255),
        number VARCHAR(200),
        address VARCHAR(255)
    )
""")

def label(master, text="nothing", x=0, y=0):
    list_area = Label(master, text=text, bg="gray20",
                      font=("times new roman", 15), fg="white",
                      pady=10)
    list_area.place(x=x, y=y)

def add(master):
    name = simpledialog.askstring(title="Name of the new contact", prompt="Write Name of New Contact")
    num = simpledialog.askstring(title="Number of new contact", prompt="Write Number of New Contact")
    addr = simpledialog.askstring(title="Address of new contact", prompt="Write Address of New Contact")

    # Add the contact directly to the database
    sql = "INSERT INTO people (name, number, address) VALUES (%s, %s, %s)"
    val = (name, num, addr)
    mycursor.execute(sql, val)
    mydb.commit()

    label(master=master, text=f"{name}'s contact is added to the database.", x=10, y=410)

def view(master):
    # Fetch and display contacts from the database
    mycursor.execute("SELECT name, number, address FROM people")
    contacts = mycursor.fetchall()

    text = Text(master)
    text.grid(row=0, column=1, padx=10, pady=10)
    scrollbar = Scrollbar(master, command=text.yview)
    text.config(yscrollcommand=scrollbar.set)
    scrollbar.grid(row=0, column=2, sticky="ns")
    text.insert(END, '\n'.join([f"{contact[0]} - {contact[1]} - {contact[2]}" for contact in contacts]))

def search(master):
    n = simpledialog.askstring(title="Type name", prompt="Type name ")
    
    # Fetch matching contacts from the database
    mycursor.execute("SELECT name, number, address FROM people WHERE name LIKE %s", (f"%{n}%",))
    contacts = mycursor.fetchall()

    text = Text(master)
    text.grid(row=0, column=1, padx=10, pady=10)
    scrollbar = Scrollbar(master, command=text.yview)
    text.config(yscrollcommand=scrollbar.set)
    scrollbar.grid(row=0, column=2, sticky="ns")
    text.insert(END, '\n'.join([f"{contact[0]} - {contact[1]} - {contact[2]}" for contact in contacts]) if contacts else "No match found.")

def remove(master):
    remove_name = simpledialog.askstring(title="Search a name to remove...", prompt="Search a name to remove")

    # Check for matching contacts in the database
    mycursor.execute("SELECT id, name, number FROM people WHERE name LIKE %s", (f"%{remove_name}%",))
    contacts = mycursor.fetchall()

    if contacts:
        contact = contacts[0]  # Get the first matching contact
        confirm = simpledialog.askstring(title="Confirm Deletion",
                                         prompt=f"Are you sure you want to delete {contact[1]} - {contact[2]}?")
        if confirm and confirm.lower() in ['yes', 'y']:
            mycursor.execute("DELETE FROM people WHERE id = %s", (contact[0],))
            mydb.commit()
            label(master=master, text=f'{contact[1]} has been removed.', x=10, y=410)
        else:
            label(master=master, text='Deletion cancelled', x=10, y=410)
    else:
        label(master=master, text='No such contact found', x=10, y=410)

# Building tkinter GUI window
win = Tk()
win.title("Contact Book")
win.geometry("700x500+200+20")
win.minsize(700, 500)
win.maxsize(800, 600)
win.config(bg="gray10")

menubar = Menu(win)

filemenu = Menu(menubar, tearoff=0)
filemenu.add_command(label='View', command=lambda: view(win))
filemenu.add_separator()
filemenu.add_command(label='Search', command=lambda: search(win))
filemenu.add_separator()
filemenu.add_command(label='Exit', command=win.destroy)

menubar.add_cascade(label="File", menu=filemenu)

editmenu = Menu(menubar, tearoff=0)
editmenu.add_command(label="Add", command=lambda: add(win))
editmenu.add_separator()
editmenu.add_command(label="Remove", command=lambda: remove(win))

menubar.add_cascade(label="Edit", menu=editmenu)

win.config(menu=menubar)

mainloop()

In [ ]:
# import mysql.connector

# Connect to MySQL
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="contactbook"
)

# Ensure the table exists
mycursor = mydb.cursor()
mycursor.execute("""
    CREATE TABLE IF NOT EXISTS people (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255),
        number VARCHAR(200),
        address VARCHAR(255)
    )
""")



def add(main):
    name = input("Enter Contact's Name:\n")
    num =  input("Enter Contact's Number:\n")
    addr = input("Enter Contact's Address:\n")

    # Add the contact directly to the database
    sql = "INSERT INTO people (name, number, address) VALUES (%s, %s, %s)"
    val = (name, num, addr)
    mycursor.execute(sql, val)
    mydb.commit()

    print( f"{name}'s contact is added to the database." )

def view(main):
    # Fetch and display contacts from the database
    mycursor.execute("SELECT name, number, address FROM people")
    contacts = mycursor.fetchall()

    for i in contacts:
        print(i)

def search(main):
    n = input("Enter Contact's Name:")
    
    # Fetch matching contacts from the database
    mycursor.execute("SELECT name, number, address FROM people WHERE name LIKE %s", (f"%{n}%",))
    contacts = mycursor.fetchall()

    if i in contacts:
        print(i)
        
    else:
        print("Contact no found.")
    
   

def remove(main):
    remove_name = input("Which contact do you wish to remove?:")

    # Check for matching contacts in the database
    mycursor.execute("SELECT id, name, number FROM people WHERE name LIKE %s", (f"%{remove_name}%",))
    contacts = mycursor.fetchall()

    if contacts:
        contact = contacts[0]  # Get the first matching contact
        confirm =input("Are you sure you wish to remove this contact? (y/n):")
        
        if confirm and confirm.lower() in ['yes', 'y']:
            mycursor.execute("DELETE FROM people WHERE id = %s", (contact[0],))
            mydb.commit()
            print("Contact has been removed")
        else:
            print("Request Cancelled")
    else:
        print("Contact not found")




def main():
    print("1. Add contact")
    print("2. View contact list")
    print("3. Search for a contact")
    print("4. Remove a contact")
    input("What would you like to do? (1-4):")

    
    if input == 1:
     add(main)
    if input == 2:
     view()
    if input == 3:
     search()
    if input == 4:
     remove()
    
if __name__ =_

1. Add contact
2. View contact list
3. Search for a contact
4. Remove a contact

What would you like to do? (1-4): 4

1. Add contact
2. View contact list
3. Search for a contact
4. Remove a contact

What would you like to do? (1-4): 3

1. Add contact
2. View contact list
3. Search for a contact
4. Remove a contact